.git
.github
.vs
.vscode
.idea

**/bin/
**/obj/
**/node_modules/
**/Logs/
**/wwwroot/libs/

mobile/
test/
data_db/
Logs/

.env
.render/
**/appsettings.secrets.json
**/*.pfx
**/*.p12
**/*.key

*.log
*.user
*.suo
$err
$log
